<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="visibleBackButton" [defaultHref]="valueHref"></ion-back-button>
    </ion-buttons>
    
    <ion-title style="font-family: fantasy">{{title | translate}}</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
