<ion-content scrollY="false">
  <div class="cat">
    <img src="../../../../assets/images/developer.svg" alt="icon" />
  </div>
  <div class="form-content">
    <ion-item lines="none" class="ion-text-center ion-margin-bottom">
      <ion-title><h2>{{'Title.welcome'|translate}}</h2></ion-title>
    </ion-item>
    <ion-item class="ion-margin-top ion-margin-bottom">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-input type="email" [placeholder]="'Placeholder.email'|translate" [(ngModel)]="user.email" required
        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top ion-margin-bottom">
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-input name="password" [placeholder]="'Placeholder.user'|translate" [type]="type" [(ngModel)]="user.username" required></ion-input>
      <ion-icon slot="end" [name]="icono" (click)="getTypeInput()" color="medium"></ion-icon>
    </ion-item>
    <br>
    <ion-button
      class="ion-margin-top"
      mode="ios"
      expand="block"
      (click)="onClickLogin()">{{'Button.login'|translate}}</ion-button>
  </div>
  <div class="check-content">
    <ion-radio-group [(ngModel)]="lang" (ionChange)="changeLanguage($event)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img alt="es" src="../../../assets/images/es.png" />
              </ion-avatar>
              <ion-radio slot="end" value="es"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img alt="en" src="../../../assets/images/en.png" />
              </ion-avatar>
              <ion-radio slot="end" value="en"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-radio-group>
  </div>
  
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-label>{{'Label.versionApp'|translate}}</ion-label>
  </ion-toolbar>
</ion-footer>