<app-header
  [visibleBackButton]="false"
  [title]="title"
></app-header>

<ion-content class="ion-padding">

  <ion-card color="primary">
    <ion-card-header>
      <div style="width: 100%;" class="avatar-content">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </div>

      <ion-card-title class="ion-text-center">{{user?.name}}</ion-card-title>
      <ion-card-subtitle class="ion-text-center">{{user?.email}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item color="primary" lines="none">
        <ion-icon slot="start" name="call-outline"></ion-icon>
        <ion-label position="stacked" color="medium">{{'Label.phone'|translate}}</ion-label>
        <ion-input placeholder="Enter text" [ngModel]="user?.phone" readonly></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="home-outline" color="primary"></ion-icon>
      <ion-label position="stacked" color="medium">{{'Label.city'|translate}}</ion-label>
      <ion-input placeholder="Enter text" [(ngModel)]="user?.address.city" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="location-outline" color="danger"></ion-icon>
      <ion-label position="stacked" color="medium">{{'Label.address'|translate}}</ion-label>
      <ion-input placeholder="Enter text" [(ngModel)]="user?.address.street" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="globe-outline" color="secondary"></ion-icon>
      <ion-label position="stacked" color="medium">{{'Label.website'|translate}}</ion-label>
      <ion-input placeholder="Enter text" [ngModel]="user?.website" readonly></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-icon slot="start" name="business-outline" color="primary"></ion-icon>
      <ion-label position="stacked" color="medium">{{'Label.company'|translate}}</ion-label>
      <ion-input placeholder="Enter text" [(ngModel)]="user?.company.name" readonly></ion-input>
    </ion-item>
  </ion-list>

</ion-content>
