.ion-color-valhalla {
	--ion-color-base: var(--ion-color-valhalla);
	--ion-color-base-rgb: var(--ion-color-valhalla-rgb);
	--ion-color-contrast: var(--ion-color-valhalla-contrast);
	--ion-color-contrast-rgb: var(--ion-color-valhalla-contrast-rgb);
	--ion-color-shade: var(--ion-color-valhalla-shade);
	--ion-color-tint: var(--ion-color-valhalla-tint);
}